$primary-gradient-color: linear-gradient(90.35deg, #2563EB 0.36%, #D946EF 201.02%); 
$white-color:#F9FAFB;
$gray-color:#E5E7EB;
$secondary-gradient-color: linear-gradient(180deg, rgba(254, 254, 255, 0.0348) 0%, rgba(255, 255, 255, 0.048) 100%);
