// * Subscribe Section
.subscribe {
    &__form {
        width: 100%;
        position: relative;
        @include flex(space-between, center, row);
        @include responsive(xs){
         flex-direction: column;
         gap: 20px;   
        }
        input {
            width: 100%;
            padding: 25px 44px;
            font-weight: 400;
            font-size: 18px;
            line-height: 30px;
            color: #FFFFFF;
            opacity: 0.9;
            box-shadow: 10px 24px 54px rgba(0, 0, 0, 0.07);
            border-radius: 70px;
            background: $secondary-gradient-color;

            @include responsive(sm) {
                padding: 20px 34px;
            }
            @include responsive(xs){
            font-size: 16px;
            font-weight: 400;
            padding: 15px 25px;
            font-family: "Dm sans",sans-serif;
            }
        }
    }
}