.bg-1{
    background: linear-gradient(180deg, #8A7FD9 0%, #402F8F 100%);;
}
.bg-2{
    background: linear-gradient(180deg, #D97F95 0%, #923250 100%);
}
.bg-3{
    background: linear-gradient(180deg, #84D8ED 0%, #4292BB 100%);
}
.bg-4{
    background: linear-gradient(180deg, #92EFC3 0%, #2F8F5B 100%);
}
.bg-5{
    background: linear-gradient(180deg, #BC7FD9 0%, #923283 100%);
}
.bg-6{
    background: linear-gradient(180deg, #8684ED 0%, #4247BB 100%);
}