// * Hero Section
.hero {
    position: relative;
    padding-bottom: 65px;

    @include responsive(lg) {
        padding-top: 65px;
        padding-bottom: 50px;
    }

    @include responsive(sm) {
        padding-bottom: 0;
    }

    @include responsive(xs) {
        padding-top: 25px;
    }

    &__content {
        width: 100%;
        @include flex(space-between, center, row);

        @include responsive(sm) {
            flex-direction: column
        }
    }

    &__info {
        @include flex(space-between, flex-start, column);
        flex: 1;

        @include responsive(md) {
            flex: 1.5;
        }

        @include responsive(sm) {
            width: 80%;
            margin-right: auto;
        }

        @media(max-width:650px) {
            width: 100%;
        }

        @include responsive(xs) {
            align-items: center;
            text-align: center;
        }
    }

    &__title {
        background: linear-gradient(89.83deg, #2563EB 0.11%, #D946EF 58.65%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
        margin-bottom: 30px;

        @include responsive(lg) {
            margin-bottom: 20px;
        }

        @include responsive(xs) {
            margin-bottom: 15px;
        }
    }

    &__description {
        font-weight: 500;
        font-size: 15px;
        line-height: 30px;
        color: $gray-color;
        opacity: 0.8;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
        margin-bottom: 30px;
    }

    &__buttons {
        @include flex(flex-start, center, row);
        gap: 30px;

        @include responsive(xxs) {
            width: 90%;
            margin: 0 auto;
            gap: 20px;
            flex-direction: column;

            a {
                transition: .4s ease;
                width: 100%;
            }
        }
    }

    &__imgbox {
        transform: translateX(50px);
        @include flex(center, center, row);
        flex: 1;

        @include responsive(md) {
            transform: none;

            img {
                position: absolute;
                width: 500px;
                max-width: 500px;

                @include responsive(sm) {
                    position: static;
                    width: auto;
                    max-width: auto;
                }

                @include responsive(xxs) {
                    max-width: 100%;
                    margin: 0 auto;
                }
            }
        }
    }

    &__blur {
        position: absolute;
        width: 100vw;
        left: 0;
        z-index: -1;
        top: -30%;

        @include responsive(lg) {
            top: -20%;
        }

        @include responsive(md) {
            top: -15%;
        }

        @include responsive(sm) {
            top: 50%;
        }
    }
}

// * Services Section
.services {
    padding: 60px 0;

    @include responsive(xs) {
        padding: 40px 0;
    }

    @include responsive(xxs) {
        padding: 30px 0;
    }

    &__content {
        width: 100%;
        @include flex(center, center, column);
    }
}

// * About Section
.about {
    padding: 100px 0;
    position: relative;

    @include responsive(sm) {
        padding: 50px 0;
    }

    &__content {
        width: 100%;
        @include flex(space-between, center, column);
    }

    &__box {
        width: 100%;
        @include flex(space-between, center, row);
        gap: 35px;

        &:first-child {
            margin-bottom: 100px;

            @include responsive(sm) {
                margin-bottom: 70px;
            }
        }

        @include responsive(sm) {
            flex-direction: column-reverse;
        }
    }

    &--box--2 {
        @include responsive(sm) {
            flex-direction: column;
        }
    }

    &__info {
        @include flex(space-between, flex-start, column);
        flex: 1.2;

        @include responsive(md) {
            flex: 1;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 42px;
        line-height: 55px;
        color: #fff;
        margin-bottom: 30px;

        @include responsive(md) {
            font-size: 32px;
            line-height: 50px;
            margin-bottom: 20px;
        }

        @include responsive(xs) {
            font-size: 28px;
            line-height: 46px;
            margin-bottom: 12px;
        }
    }

    &__description {
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 30px;
        color: #fff;

        @include responsive(xs) {
            font-size: 14px;
            margin-bottom: 25px;
        }
    }

    &__imgbox {
        @include flex(center, center, row);
        flex: 1;

        @include responsive(md) {
            img {
                position: absolute;
                height: 450px;
            }
        }

        @include responsive(sm) {
            height: auto;
            width: 75%;

            img {
                position: static;
                height: auto;
            }
        }

        @include responsive(xs) {
            width: 100%;
        }
    }

    &__blur {
        position: absolute;
        right: 0;
        bottom: -10%;
        z-index: -1;

        @include responsive(sm) {
            bottom: 0;
        }
    }
}

// * Team Section
.team {
    position: relative;

    &__content {
        width: 100%;
        @include flex(center, center, column);
    }

    &__blur {
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
    }
}

// * Subscribe Section
.subscribe {
    padding: 100px 0;
    color: #fff;
    position: relative;

    @include responsive(xs) {
        padding: 80px 0;
    }

    &__content {
        width: 100%;
        box-shadow: 0px 22px 18px rgba(0, 0, 0, 0.05);
        border-radius: 34px;
        background: $secondary-gradient-color;
    }

    &__box {
        padding: 50px 0 40px 0;
        width: 74%;
        margin: 0 auto;
        @include flex(center, center, column);
        text-align: center;

        @include responsive(lg) {
            width: 80%;
        }

        @include responsive(md) {
            width: 90%;
        }

        @include responsive(sm) {
            padding: 40px 0;
        }
    }

    &__title {
        margin-bottom: 14px;

        @include responsive(md) {
            font-size: 38px;
        }

        @include responsive(sm) {
            font-size: 34px;
            line-height: 48px;
        }

        @include responsive(xs) {
            font-size: 30px;
            line-height: 42px;
        }

        @include responsive(xxs) {
            font-size: 26px;
            margin-bottom: 5px;
        }
    }

    &__description {
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        text-align: center;
        color: #FFFFFF;
        opacity: 0.8;
        margin-bottom: 30px;
    }
}